body {
    font-family: sans-serif;
    color: #2e2e2e;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    
}

.app {
    width: 100%;
    max-width: 420px;
    padding: 25px;
    background: rgba(236, 240, 250, 0.95);
    box-shadow: 0 0 10px #49606b;
    border-radius: 10px;
    border: 2px solid #004a6f;
    text-align: center;
    position: relative;
    text-shadow: 0 0 12px #b5b6b6;
    
}

.app::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    background: #00aaff;
    box-shadow: 0 0 8px #00aaff;
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 85%;
    padding: 12px;
    border: 2px solid #ffffff;
    background: #cdd2de;
    color: #424e54;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    text-align: center;
    margin-bottom: 12px;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}

input:focus {
    box-shadow: 0 0 15px #f4fbff;
}

button {
    background: linear-gradient(90deg, #effaff, #cdd2de);
    color: #5b696ab0;
    font-weight: bold;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 10px #cdd2de;
    font-size: 14px;
    text-transform: uppercase;
}

button:hover {
    transform: scale(1.05);
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin-top: 10px;
}

li {
    background: #cdd2de;
    padding: 12px;
    margin: 6px 0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 12px #d7eaff;
    width: 90%;
    position: relative;
}

li:hover {
    transform: scale(1.02);
}

li span {
    cursor: pointer;
    transition: 0.3s;
    flex: 1;
    text-align: left;
    color: #55656d;
    font-size: 16px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.completed {
    text-decoration: line-through;
    color: #22cfff;
}

.completed span {
    text-shadow: 0 0 12px #22b2ff;
}

li button {
    background: #00aaff;
    color: white;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0 0 12px #22f4ff;
}

li button:hover {
    background: #ff0033;
    box-shadow: 0 0 15px #ff2244;
}

.name-text {
    font-size: 12px;
    color: #2e2e2e;
    margin-top: 15px;
}

@media (max-width: 450px) {
    .app {
        width: 90%;
    }
    input {
        width: 100%;
    }
    li {
        width: 100%;
    }
}
